main {
  background-color: #edf3f8;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pustoy {
  width: 250px;
}
.alar {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.alar a {
  text-decoration: none;
  color: gray;
  /* margin-left: ; */
}
.btn {
  width: 173px;
  height: 48px;
  background-color: #ba4270;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 600px;
}
.right img {
  width: 363px;
  height: 600px;
}
.left {
  width: 546px;
}
.left h1 {
  font-size: 50px;
}
.icon {
  display: none;
}
@media (max-width: 768px) {
  .section1 {
    flex-direction: column;
  }
  .section2{
    flex-direction: column;
  }
  .right1{
    flex-direction: column;
  }

  
}
@media (max-width: 375px) {
  .alar {
    display: none;
  }
  .icon {
    display: block;
    width: 20px;
    height: 20px;
    padding: 10px;
  }
}
.section2{
  background-color: #1B262F;
  height: 472px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left1{
  width: 445px;
  /* height: 272px; */
  color: white;
}
.left1 h1{
  font-size: 50px;
}
.left1 p{
  font-size: 20px;
}
.button{
  width: 129px;
  height: 48px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
}
.right1{
  /* width: 536px; */
  /* height: 103px; */
}
.img1{
  display: flex;
  align-items: center;
 justify-content: space-between;
  width: 536px;
  height: 90px;
}
.img2{
  display: flex;
 align-items: center;
 justify-content: space-between;
  /* width: 536px; */
  height: 90px;
}




.section3{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left3{
  width: 445px;
}
.right3{
  width: 445px;
}
.card{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section4{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cf{
  background-color: #36536B;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
h1{
  font-size: 30px;
}
p{
  font-size: 20px;
}
.footer{
  margin-top: 50px;
  background-color: #1B262F;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dvu{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 432px;
}
.alare{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}
.alare a{
  color: white;
  text-decoration: none;
}
.nicho{
  width: 200px;
}


.noni {
  animation-duration: 4s;
  animation-name: diring;
  transition:0.4s linear; 
  animation-iteration-count: infinite;
  position: relative;
}
@keyframes diring{
  0%{
    margin-top: 20px; 
  }
  25%{
    margin-left: 20px; 
  }
  50%{
    margin-right: 20px;
  }
  75%{
    margin-bottom : 20px; 
  }
  100%{
    margin-left: 20px;
  }
}